<p id="notice"><%= notice %></p>
<h1>Hello, <%= @user.name %>!</h1>
<% if @user.bookmarks.any? %>
<h2><b>Here are your bookmarks.</b></h2>
<table>
	<% render @bookmarks %>
</table>
    <%= will_paginate @bookmarks %>
	<% else %>
	<h5>You haven't created any bookmarks yet. Get on it!</h5>
	<% end %>
<br />
<%= link_to 'New Bookmark', users_add_bookmark_path(@user.id) %>