<footer>
  <div id="footer">
    <nav><ul>
      <li><%= link_to "All Bookmarks", "#" %></li>
      <li><%= link_to "View Bookmark ", "#" %></li>
    </ul></nav>
    <div class="block">
      <p>Copyright &copy; <%= Time.now.year %> Web App.</p>
     </div>      
  </div>
</footer>