<footer>
  <div id="footer">
    <nav><ul>
      <li><%= link_to "Bookmarks", bookmarks_path %></li>
      <li><%= link_to "New Bookmark", new_bookmark_path %></li>
    </ul></nav>
    <div class="block">
      <p>Copyright &copy; <%= Time.now.year %> Web App.</p>
     </div>      
  </div>
</footer>