<header>
    <div id="header">
      <h1><a href="/">Bookmarks</a></h1>
      <div id="user-navigation">
        <ul class="wat-cf">
          <li><a href="#"><%= t("web-app-theme.profile", :default => "Bookmarks") %></a></li>
          <li><a href="#"><%= t("web-app-theme.settings", :default => "Home") %></a></li>
          <li><a href="#" class="logout"><%= t("web-app-theme.logout", :default => "Logout") %></a></li>
        </ul>
      </div>
      <div id="main-navigation">
        <ul class="wat-cf"></ul>
      </div>
    </div> 
</header>
